<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Passcode Generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container center-align">
        <h3>Random Passcode (passcode #@ViewBag.passCount)</h3>
        <h5>@ViewBag.password</h5>
        <a class="waves-effect waves-light btn" href="/">Generate</a>
    </div>
</body>
</html>